﻿<template>
    <div class="margin-sm">

    </div>
    <div class="row white">
        <div class="col l12">
            <ul class="collection">
                <li class="collection-item avatar">
                    <span class="circle green darken-1 collection-character white-text">T</span>
                    <span class="title">Tomasz Dudzik</span>
                    <p class="truncate grey-text small">programista</p>
                    <span class="secondary-content">frontend</span>
                </li>
                <li class="collection-item avatar">
                    <span class="circle red darken-1 collection-character white-text">M</span>
                    <span class="title">Mateusz Flis</span>
                    <p class="truncate grey-text small">programista</p>
                    <span class="secondary-content">backend</span>
                </li>
                <li class="collection-item avatar">
                    <span class="circle blue darken-1 collection-character white-text">K</span>
                    <span class="title">Karol Trybalski</span>
                    <p class="truncate grey-text small">programista</p>
                    <span class="secondary-content">frontend/webrtc</span>
                </li>
            </ul>
        </div>
    </div>
</template>