﻿<template>
    <div id="groupDetailsModal" class="modal">
        <div class="modal-content">
            <div class="row center flat-text-color">
                <h5 t="${$parent.Group.Id === 0 ? 'Contacts.Groups.GroupCreation' : 'Contacts.Groups.GroupEdition'}"></h5>
            </div>
            <div class="divider"></div>
            <form role="form" validate.bind="EventValidators">
                <div if.bind="error" class="row center flat-text-color">
                    <h6 t="Contacts.Groups.PersonsCountValidationError" style="color: red;"></h6>
                </div>
                <div class="row">
                    <minput model.two-way=GroupName icon="create" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" len="35" label="Contacts.Groups.GroupName"></minput>
                </div>
                <div class="row">
                    <div class="col l6">
                        <div class="row center flat-text-color">
                            <h6 t="Contacts.Groups.UsersInGroup"></h6>
                        </div>
                        <ul>
                            <span style="margin: 3px;" repeat.for="user of GroupUsers" class="chip">${user.Name}<i click.delegate="DeleteUser(user)" class="material-icons">close</i></span>
                        </ul>
                    </div>
                    <div if.bind="OtherUsers && OtherUsers.length !== 0" class="col l6">
                        <div class="row center flat-text-color">
                            <h6 t="Contacts.Groups.SelectUser"></h6>
                        </div>
                        <ul class="collection">
                            <li class="collection-item ${user.Class}" repeat.for="user of OtherUsers" click.delegate="SelectUser(user)">
                                <i class="small icon ${user.Active ? 'blue-text' : 'red-text'}" style="vertical-align: middle; margin-right: 10px;"></i>
                                <span>${user.Name}</span>
                            </li>
                        </ul>
                        <div if.bind="i18nParams.userscount !== 0" class="row center-align">
                            <a if.bind="i18nParams.userscount === 1" class="btn waves-effect waves-green" t="Contacts.Groups.AddUserToGroup" t-params.bind="i18nParams" click.delegate="AddUsers()"></a>
                            <a if.bind="i18nParams.userscount > 1" class="btn waves-effect waves-green" t="Contacts.Groups.AddUsersToGroup" click.delegate="AddUsers()"></a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
        </div>
        <div class="modal-footer">
            <a class="btn modal-action modal-close waves-effect waves-green btn-flat" t="Common.Cancel"></a>

            <a if.bind="Group.Id !== 0" class="btn waves-effect waves-light btn-flat red-hover" click.delegate="Delete()" t="Common.Delete"></a>

            <a if.bind="Group.Id !== 0" class="btn waves-effect waves-green btn-flat" click.delegate="Save()" t="Common.Save"></a>
            <a if.bind="Group.Id === 0" class="btn waves-effect waves-green btn-flat" click.delegate="SaveNew()" t="Common.Save"></a>
        </div>
    </div>
</template>