﻿<template>
    <div id="talkRequestModal" class="modal small-modal">
        <div class="modal-content">
            <div class="row center flat-text-color">
                <h5><span t="${talk.destination.IsGroup ? 'Common.Group' : 'Common.User'}"></span> <span style="font-weight: bold;" t="${talk.destination.Name}"></span> <span t="Calendar.Talks.CallingYou"></span></h5>
            </div>
            <div class="divider"></div>
        </div>
        <div class="modal-footer">
            <a class="btn modal-action modal-close waves-effect waves-green btn-flat red-hover" t="Common.Reject" click.delegate="RejectTalk()"></a>
            <a class="btn modal-action modal-close waves-effect waves-green btn-flat green-hover" t="Common.Accept" click.delegate="AcceptTalk()"></a>
        </div>
    </div>
</template>