﻿<template>
    <div id="editUserData" class="modal">
        <div class="modal-content flat-text-color no-padding-bottom" style="padding-bottom: 0;">
            <div class="row">
                <div class="col l12 m12 s12 center-align">
                    <h5>
                        Zmień swoje dane
                        <span if.bind="!SuccessDownloadData" class="right flat-text-color amber" style="font-size: 1rem; padding: 5px; border-radius: 5px;" t="Home.EditUser.DownloadDataFailed"></span>
                    </h5>
                </div>
               
            </div>
        </div>
        <div class="divider"></div>
        <form role="form" validate.bind="ValidatorsEdit">
            <div class="row padding-top-md">
                <minput model.two-way=EditModel.Name icon="person" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" label="Account.Registration.Name"></minput>
                <minput model.two-way=EditModel.Surname icon="person_outline" gridclass="col l5 m10 offset-m1 s10 offset-s1" label="Account.Registration.Surname"></minput>
            </div>
            <div class="row">
                <minput model.two-way=EditModel.Address icon="place" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" label="Account.Registration.Address"></minput>
                <minput model.two-way=EditModel.EmailAddress icon="language" gridclass="col l5 m10 offset-m1 s10 offset-s1" label="Account.Registration.Email"></minput>
            </div>
        </form>
        <div class="divider"></div>
        <div class="modal-footer">
            <a class="btn modal-action modal-close waves-effect waves-red btn-flat" t="Common.Cancel"></a>
            <a class="btn modal-action waves-effect waves-red btn-flat" click.delegate="SaveData()" t="Common.Save"></a>
        </div>
    </div>
</template>