﻿<template>
    <div id="resendData" class="modal">
        <div class="modal-content flat-text-color">
            <div class="row">
                <div class="col l6 m6 s12 center-align remindDataDivider">
                    <h5 t="Account.ResendData.NotHaveEmailConfirmation"></h5>
                </div>
                <div class="divider small hide-on-med-and-up"></div>
                <div class="col l6 m6 s12">
                    <h5 class="center-align" t="Account.ResendData.ForgotPassword"></h5>
                </div>
                <div class="col l12 m12 s12 center-align">
                    <p>
                        <span t="[prepend]Account.ResendData.EnterYourEmail"></span>
                        <br />
                        <span t="[prepend]Account.ResendData.WeWillEndeavor"></span>
                    </p>
                </div>
                <form role="form" validate.bind="EmailValidator">
                    <div class="col l5 offset-l1 m10 offset-m1 s12 center-align">
                        <minput model.two-way=ResendEmail.Username icon="person" len="15" label="Account.Login.Login"></minput>
                    </div>
                    <div class="col l5 m10 offset-m1 s12 center-align">
                        <minput model.two-way=ResendEmail.Email icon="contact_mail" label="Account.Registration.Email"></minput>
                    </div>
                </form>
            </div>
        </div>
        <div class="divider"></div>
        <div class="modal-footer">
            <a class="btn modal-action modal-close waves-effect waves-red btn-flat" t="Common.Cancel"></a>
            <a class="btn modal-action waves-effect waves-red btn-flat" click.delegate="ResendConfirmationEmail()" t="Account.ResendData.SendActivationLink"></a>
            <a class="btn modal-action waves-effect waves-green btn-flat" click.delegate="ForgotPassword()" t="Account.ResendData.ForgotPassword"></a>
        </div>
    </div>
</template>