
body {
    background: url('background3.jpg');
}

.loader-widget:after{
    position:absolute;
    width: 100%; 
    height: 100%; 
    z-index: 9999; 
    display: block;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 44%;
  top: 44%;
  width: 300px;
  height: 300px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #61BB26;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */

  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}
#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url(../images/user-bg-2.jpg) no-repeat center center;
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2B81A0;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */

  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #F92256;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */

  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: rotate(0deg);
    /* IE 9 */

    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: rotate(360deg);
    /* IE 9 */

    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: rotate(0deg);
    /* IE 9 */

    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: rotate(360deg);
    /* IE 9 */

    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  opacity: 0.88;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */

  -ms-transform: translateX(0);
  /* IE 9 */

  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */

.character-counter{
    color: #27507C;
}

.validation-error {
    color: #d32f2f    !important;
    background-color: #9e9e9e !important;
    padding:5px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #d32f2f;
    font-weight:bold;
}

.input-field input{
    color: #27507C;
}

.input-field.invalid label.correct{
    display: none;
    background-color: white;
}

.input-field.valid input[type=text]:focus:not([readonly]) + label {
    color: #2e7d32 ;
}

.input-field.valid i {
    color: #2e7d32 ;
}

.input-field.valid input {
    border-bottom: 2px solid #2e7d32 ;
}

.input-field.valid label.correct {
    color: #2e7d32 ;
     background-color: white;
     padding-left: 4px;
     padding-right: 4px;
}



.input-field label.incorrect{
    opacity: 0;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.input-field.invalid label.incorrect{
    opacity: 1;
    background-color: transparent;
    color: #d32f2f;
}

.input-field.invalid i {
    color: #d32f2f;
}

.input-field.invalid input {
    border-bottom: 2px solid #d32f2f;
}

.input-field.invalid label.incorrect.active, 
.input-field.invalid input:active ~ label.incorrect {
    opacity: 1;
    color: #d32f2f;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #d32f2f;
    padding: 5px;
    border-radius: 3px;
}

.summary-success{
    background-color: #51a351;
}

.summary-error {
    background-color: #bd362f;
}


.padding-sm{
    padding: 5px;
}

.padding-md {
    padding: 15px;
}

.margin-xs {
    margin: 5px;
}

.margin-sm{
    margin: 15px;
}

.margin-md {
    margin: 30px;
}

.margin-lg {
    margin: 50px;
}

.padding-top-sm{
    padding-top: 5px;
}

.padding-top-md {
    padding-top: 15px;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-top-md{
    margin-top: 15px;
}

.padding-left-sm{
    padding-left: 5px;
}

.padding-left-md {
    padding-left: 15px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-left-md{
    margin-left: 15px;
}

.padding-right-sm{
    padding-right: 5px;
}

.padding-right-md {
    padding-right: 15px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-right-md{
    margin-right: 15px;
}

.padding-bottom-sm{
    padding-bottom: 5px;
}

.padding-bottom-md {
    padding-bottom: 15px;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-bottom-md{
    margin-bottom: 15px;
}

.no-margin {
    margin:0;
}

.no-margin-top{
    margin-top: 0;
}
.no-margin-left{
    margin-left:0;
}
.no-margin-right {
    margin-right:0;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.pointer {
    cursor: pointer;
}


@media only screen and (min-width : 600px) {
    .remindDataDivider {
        border-right: 1px solid rgb(154, 154, 154);
    }

     .left-divider-on-md-and-up {
        border-left: 1px solid rgb(154, 154, 154);
    }

    .margin-top-54-on-med-and-up{
        margin-top: 54px;
    }
}

@media only screen and (max-width: 600px){
    .right-on-sm {
        float: right !important;
    }
    .margin-right-md-on-sm{
        margin-right: 15px;
    }
}

.flat-text-color{
    color: #343434;
}

.block {
    background-color: transparent;
    padding: 4px;
    border-radius:10px;
    -ms-transform: skewX(-40deg); /* IE 9 */
    -webkit-transform: skewX(-40deg); /* Safari */
    transform: skewX(-40deg); /* Standard syntax */
}
.block .block-content,
.block i{
     -ms-transform: skewX(40deg); /* IE 9 */
    -webkit-transform: skewX(40deg); /* Safari */
    transform: skewX(40deg); /* Standard syntax */
}
.success.block {
    border: 2px solid #61BB26;
}

.error.block{
    border: 2px solid #F44336;
}

.medium-font{
    font-size: 22px;
}

.page-wrap {
  min-height: 64vh;
  margin-bottom:26px;
}

.grid-loader {
    z-index: 1111; 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background: black; 
    opacity: 0.5; 
    border-radius: 10px;
}

.grid-information {
    border: 2px solid #ffd800; 
    border-radius: 10px;
}

.transform-pager-10 {
    transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.custom-badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px; 
  }

.card .card-content.no-padding-bottom {
    padding-bottom: 0;
}

.collection-character {
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.collection-item .ultra-small {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.collection-item .truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red-hover.btn:hover,
.red-hover.btn-large:hover {
    background-color: red;
}
.green-hover.btn:hover,
.green-hover.btn-large:hover {
    background-color: green;
}

.small-modal.modal {
    width: 30% !important;
}
