﻿<template>
    <div style="margin-top:300px;"></div>
    <preloader if.bind="Loader"></preloader>

    <div class="row" if.bind="!Loader">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card center-align padding-top-md">
                <span if.bind="Success" class="card-title green-text" t="Account.ConfirmEmail.SuccessMessage"></span>
                <span if.bind="!Success" class="card-title red-text" t="Account.ConfirmEmail.FailedMessage"></span>
                <div class="divider"></div>
                <div class="card-content">
                    <p if.bind="Success" t="Account.ConfirmEmail.RedirectToLogin"></p>
                    <p if.bind="!Success" t="Account.ConfirmEmail.ErrorOccured"></p>
                    <button class="margin-top-md btn" click.delegate="GoToMainPage()" t="Account.ConfirmEmail.BackToMainPage"></button>
                </div>
            </div>
        </div>
    </div>
</template>