<template>
    <preloader style="margin-left: 46%;" if.bind="IsBusy"></preloader>
    <div class="container">
        <div style="height: 200px;"></div>
        <div class="row">
            <div class="col l8 offset-l2 m10 offset-m1 s12">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li class="white active">
                        <a class="btn tooltipped right margin-right-md modal-trigger" data-target="resendData" data-position="bottom" tip="Account.Login.ResendEmailOrPasswordRemind" t="Common.More"></a>
                        <div class="collapsible-header active lime accent-2" t="[append]Account.Login.Title">
                            <i class="material-icons prefix">directions_run</i>
                        </div>
                        <div class="collapsible-body">
                            <form role="form" validate.bind="ValidatorsLogin">                             
                                <div class="row">
                                    <minput model.two-way=Login.Username icon="person" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" len="15" label="Account.Login.Login"></minput>
                                    <minput model.two-way=Login.Password icon="lock_outline" gridclass="col l5 m10 offset-m1 s10 offset-s1" len="12" mtype="password" label="Account.Login.Password"></minput>
                                </div>
                                <div class="row">
                                    <div class="col l4 offset-l2 m5 offset-m1 s5 offset-s1">
                                        <input id="remeberMe" type="checkbox" checked.bind="Login.RemeberMe" />
                                        <label for="remeberMe" t="Account.Login.RemeberMe"></label>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <div class="row">
                                    <div class="col s8 offset-s2">
                                        <button class="btn btn-flat waves-effect waves-green" style="width: 100%;" disabled.bind="ValidatorsLogin.isValidating" click.delegate="SignIn()" t="Account.Login.SignIn">
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="white">
                        <div class="collapsible-header lime accent-3" t="[append]Account.Registration.Title">
                            <i class="material-icons prefix">person_add</i>
                        </div>
                        <div class="collapsible-body white-text">
                            <div if.bind="BeforeRegister">
                                <div class="row" if.bind="RegisterErrorMessage">
                                    <ul class="col l10 offset-l1 summary-error center-align">
                                        <li repeat.for="message of RegisterErrorMessage"> ${message}</li>
                                    </ul>
                                </div>
                                <form role="form" validate.bind="ValidatorsRegister">
                                    <div class="row">
                                        <minput model.two-way=Registration.Name icon="person" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" label="Account.Registration.Name"></minput>
                                        <minput model.two-way=Registration.Surname icon="person_outline" gridclass="col l5 m10 offset-m1 s10 offset-s1" label="Account.Registration.Surname"></minput>
                                    </div>
                                    <div class="row">
                                        <minput model.two-way=Registration.UserName icon="recent_actors" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" label="Account.Registration.Login"></minput>
                                        <minput model.two-way=Registration.EmailAddress icon="language" gridclass="col l5 m10 offset-m1 s10 offset-s1" label="Account.Registration.Email"></minput>
                                    </div>
                                    <div class="row">
                                        <minput model.two-way=Registration.Address icon="place" gridclass="col l6 offset-l3 m10 offset-m1 s10 offset-s1" label="Account.Registration.Address"></minput>
                                    </div>
                                    <div class="row">
                                        <minput model.two-way=Registration.Password icon="lock" mtype="password" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" label="Account.Registration.Password"></minput>
                                        <minput model.two-way=Registration.ConfirmPassword icon="lock" mtype="password" gridclass="col l5 m10 offset-m1 s10 offset-s1" label="Account.Registration.ConfirmPassword"></minput>
                                    </div>

                                    <div class="row">
                                        <div class="col s10 offset-s1">
                                            <input type="checkbox" id="accept" checked.bind="Registration.AcceptRegulations" />
                                            <label for="accept" t="[prepend]Account.Registration.Acquainted"></label> <a click.delegate="jQuery(regTitle).click()" class="pointer" t="Account.Registration.Regulations"></a>
                                            <span style="color: #d32f2f; font-weight: bold;" if.bind="!Registration.AcceptRegulations" t="Account.Registration.MustAcceptRegulations"></span>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="col s8 offset-s2">
                                            <button class="btn btn-flat waves-effect waves-green" type="button" style="width: 100%;" click.delegate="Register()" name="action" t="Account.Registration.Register">
                                                <i class="material-icons prefix">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div if.bind="!BeforeRegister">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col l10 offset-l1 center-align summary-success">
                                        <h5 style="font-weight: bold;"  t="Account.Registration.NotifyMessages.SuccessMessage"></h5>
                                        <p t="Account.Registration.ConfirmationEmailWasSent"></p>
                                        <button class="btn btn-flat waves-effect waves-light blue-grey" type="button" style="width: 60%; margin-bottom: 10px;" click.delegate="Back()" name="action" t="[prepend]Common.Back">
                                            <i class="material-icons prefix">replay</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="white">
                        <div class="collapsible-header lime accent-4" t="[append]Account.Regulations.Title" ref="regTitle">
                            <i class="material-icons prefix">report</i>
                        </div>
                        <div class="collapsible-body flat-text-color" style="padding: 15px;">
                            Lorem ipsum dolor sit amet augue at turpis. Praesent gravida sodales. Phasellus lacinia accumsan ullamcorper convallis. Integer neque vitae leo. Vivamus eget elit ornare lectus varius et, fermentum orci et mauris pulvinar nec, eros. Mauris leo. Sed lobortis ut, sapien. Praesent euismod at, quam. Pellentesque ac nunc odio id ligula. Proin ornare ornare. Nam pulvinar, quam in nonummy gravida. In quam felis non metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per conubia nostra, per inceptos hymenaeos. Etiam dapibus eu, elit. Curabitur adipiscing wisi. Phasellus tempor elit eu sem ipsum, ultricies vitae, vulputate wisi adipiscing elit. Nam eu libero. Integer magna fringilla erat. Suspendisse sed ante. Nullam id magna. Phasellus blandit, lectus vel leo. Donec eu wisi. In purus est, et netus et netus et malesuada tristique luctus ullamcorper pellentesque. Proin posuere. Quisque rutrum, wisi diam vel tortor. Nulla dignissim. Donec accumsan ullamcorper lorem fermentum aliquam, wisi nunc, at tortor. Ut id rutrum consectetuer pede, at tortor. Mauris pellentesque, wisi. Sed porttitor, quam nibh porta tincidunt. Nullam accumsan. Nullam vulputate sed, aliquet tincidunt augue commodo pede lacinia.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <compose view-model="ViewModels/Account/Popups/ResendData"></compose> 
</template>
