﻿<template>
    <div style="margin-top:300px;"></div>
    <preloader if.bind="Loader"></preloader>

    <div class="row" >
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card center-align padding-top-md">
                <span class="card-title green-text" t="Account.ResetPassword.ChangingPassword"></span>
                <div class="divider"></div>
                <div class="card-content">

                    <div class="row">
                        <form role="form" validate.bind="Validator">
                            <minput model.two-way=ResetModel.Password icon="lock" mtype="password" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" label="Account.Registration.Password"></minput>
                            <minput model.two-way=ResetModel.ConfirmPassword icon="lock" mtype="password" gridclass="col l5 m10 offset-m1 s10 offset-s1" label="Account.Registration.ConfirmPassword"></minput>
                        </form>
                    </div>

                    <div class="divider"></div>
                    <button class="margin-top-sm btn btn-flat" click.delegate="ChangePassword()" t="Account.ResetPassword.SaveNewPassword"></button>
                    <button class="margin-top-sm btn btn-flat" click.delegate="GoToMainPage()" t="Account.ResetPassword.BackToMainPage"></button>
                </div>
            </div>
        </div>
    </div>
</template>