﻿<template>
    <div class="margin-sm"></div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs blue-grey darken-4 red-text">
                <li class="tab col l2 m3 s3"><a class="active" href="#currentContacts" click.delegate="UpdateScreen(1)" t="Contacts.Groups.Current.Title"></a></li>
                <li class="tab col l2 m3 s3"><a href="#receivedInvitations" click.delegate="UpdateScreen(2)" t="Contacts.Groups.Received.Title"></a></li>
                <li class="tab col l2 m3 s3"><a href="#sentInviatations" click.delegate="UpdateScreen(3)" t="Contacts.Groups.Sent.Title"></a></li>
                <li class="tab col l2 m3 s3"><a href="#newContacts" click.delegate="UpdateScreen(4)" t="Contacts.Groups.FindNew.Title"></a></li>
                <li class="tab col l2 m3 s3"><a href="#blackList" click.delegate="UpdateScreen(5)" t="Contacts.Groups.BlackList.Title"></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="currentContacts" class="col s12 white"><compose view-model="ViewModels/Home/Contacts/Partial/Current"></compose> </div>
        <div id="receivedInvitations" class="col s12 white"><compose view-model="ViewModels/Home/Contacts/Partial/Received"></compose> </div>
        <div id="sentInviatations" class="col s12 white"><compose view-model="ViewModels/Home/Contacts/Partial/Sent"></compose> </div>
        <div id="newContacts" class="col s12 white"><compose view-model="ViewModels/Home/Contacts/Partial/New"></compose> </div>
        <div id="blackList" class="col s12 white"><compose view-model="ViewModels/Home/Contacts/Partial/BlackList"></compose></div>
    </div>
</template>