﻿<template>
    <div class="container">
        <div style="height: 200px;"></div>
        <div class="row">
            <div class="col l8 offset-l2 m10 offset-m1 s12">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li class="white active">
                        <div class="collapsible-header active lime accent-4" t="Guest.Guest">
                            <i class="material-icons prefix">videocam</i>
                        </div>
                        <div class="collapsible-body" style="padding: 15px;">
                            <div class="row" style="margin-bottom: 0;">
                                <div if.bind="error" class="col l12 center flat-text-color">
                                    <h6 t="Guest.Error" style="color: red;"></h6>
                                </div>

                                <div if.bind="!Talk" class="col l12">
                                    <form role="form" validate.bind="GuestValidator">
                                        <div class="row">
                                            <minput model.two-way=NameInput icon="person" gridclass="col l6 offset-l3 m10 offset-m1 s10 offset-s1" label="Guest.FillName"></minput>
                                        </div>
                                        <div class="divider" style="margin-bottom: 15px;"></div>
                                        <div class="row" style="margin-bottom: 0;">
                                            <div class="col l12 center-align">
                                                <button class="btn btn-flat waves-effect waves-green center-align" disabled.bind="GuestValidator.isValidating" click.delegate="Chatting()" t="Guest.Chatting"></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div if.bind="Talk" class="col l12">
                                    <div class="row center-align" style="margin: 10px 0 10px 0;">
                                        <a class="btn-floating btn-large waves-effect waves-light red" click.delegate="StopTalk()"><i class="material-icons">stop</i></a>
                                    </div>
                                    <div repeat.for="interlocutor of Talk.interlocutors" class="${Talk.Class} row center-align" if.bind="interlocutor.Status !== 'Rejected' && interlocutor.Status !== 'Stopped'">
                                        <div class="row center flat-text-color">
                                            <h6 t="${interlocutor.User.Name}" style="font-weight: bold;"></h6>
                                        </div>
                                        <video if.bind="interlocutor.Video !== null" class="responsive-video" src="${interlocutor.VideoURL}" controls autoplay/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</template>