﻿<template>
    <div class="margin-sm"></div>
    <div class="row">
        <div class="col l12 white">
            <div class="row">
                <minput model.two-way=SearchName icon="list" gridclass="col l10 offset-l1" len="15" label="Home.ContactsPanel.UserOrGroupName"></minput>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item ${item.Class}" repeat.for="item of CurrentContacts" click.delegate="SelectContact(item)">
                        <i class="small icon ${item.IsGroup ? 'mdi-social-group' : 'mdi-social-person'} ${item.Active ? 'blue-text' : 'red-text'}" style="vertical-align: middle; margin-right: 10px;"></i>
                        <span>${item.Name}</span>
                        <span if.bind="item.NewMessagesCount !== 0" class="new badge">${item.NewMessagesCount}</span>

                        <span>
                            <i if.bind="item.WebcamAvaibility" class="small material-icons" style="vertical-align: middle;">videocam</i>
                            <i if.bind="item.MicrophoneAvaibility" class="small material-icons" style="vertical-align: middle;">mic</i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col l6">
                    <a class="waves-effect waves-light btn }" t="Contacts.Groups.CreateGroup" click.delegate="CreateGroup()"></a>
                </div>
                <div class="col l6">
                    <a class="waves-effect waves-light btn ${(ActiveContact !== null && ActiveContact.IsGroup) ? '' : 'disabled'}" click.delegate="EditGroup()" t="Contacts.Groups.EditGroup"></a>
                </div>
            </div>
        </div>
    </div>
    <compose view-model="ViewModels/Home/Partial/GroupDetails"></compose>
    <compose view-model="ViewModels/Home/Partial/TalkRequest"></compose>
</template>