﻿<template>
    <div style="position: relative;">
        <loader if.bind="IsBusy"></loader>
        <div if.bind="items.length > 0">
            <table class="striped centered">
                <thead>
                    <tr>
                        <template replaceable part="grid-header"></template>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="item of items">
                        <template replaceable part="grid-content"></template>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row pagination" if.bind="items.length > 0">
            <div class="col l2">
                <ul>
                    <li class="${HasPreviousPage ? 'pointer' : 'disabled'}" click.delegate="GoToFirstPage()"><a><i class="material-icons">skip_previous</i></a></li>
                    <li class="${HasPreviousPage ? 'pointer' : 'disabled'}" click.delegate="GoToPreviousPage()"><a><i class="material-icons">chevron_left</i></a></li>
                </ul>
            </div>
            <div class="col l8 center">
                <ul>
                    <li if.bind="HasMoreBefore" class="transform-pager-10"><a><i class="material-icons">more_horiz</i></a></li>
                    <li repeat.for="item of pages" class="waves-effect pointer ${item.Class}" click.delegate="$parent.ChangePage(item.Text)"><a>${item.Text}</a></li>
                    <li if.bind="HasMoreAfter" class="transform-pager-10"><a><i class="material-icons">more_horiz</i></a></li>
                </ul>
            </div>
            <div class="col l2">
                <ul>
                    <li class="right ${HasNextPage ? 'pointer' : 'disabled'}" click.delegate="GoToLastPage()"><a><i class="material-icons">skip_next</i></a></li>
                    <li class="right ${HasNextPage ? 'pointer' : 'disabled'}" click.delegate="GoToNextPage()"><a><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
        <div if.bind="items.length == 0 && !IsBusy" class="center-align margin-md padding-md amber accent-1 grid-information">
            <template replaceable part="grid-noresult"></template>
        </div>
        <div if.bind="!items && !IsBusy" class="center-align margin-md padding-md amber accent-1 grid-information" t="Grid.StartSearching"></div>
        <div if.bind="(!items || items.length == 0) && IsBusy" class="center-align margin-md padding-md amber accent-1 grid-information" t="Grid.DownloadingData"></div>
    </div>
</template>