<template>
    <div class="input-field" class.one-way="gridclass">
        <i class="material-icons prefix"  if.bind="icon" textcontent.one-way="icon"></i>
        <input type="text" style="display:none;"/>
        <input id.one-way="inputId" type.bind="mtype" class="validate ${iclass}" value.bind="model" autocomplete="off">
        <label for.one-way="inputId" class="correct ${model ? 'active': ''}" t="[prepend]$t(${label})"></label>
        <label for.one-way="inputId" class="incorrect ${model ? 'active': ''}"></label>
    </div>
</template>
