<template>
    <nav>
        <div class="nav-wrapper blue-grey darken-2">
            <!--<a href="#!" class="brand-logo">Logo</a>-->
            <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<!--            <ul class="right-on-sm margin-right-md-on-sm">-->
<!--                <li><a class="modal-trigger waves-effect waves-light btn " data-target="modal1">Rozmowy</a></li>-->
<!--            </ul>-->
            <ul class="hide-on-med-and-down left">
                <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                    <a href.bind="row.href" click.trigger="$parent.OnNavigate(row)">${row.title}</a>
                </li>
            </ul>
            <ul class="right hide-on-small-and-down">
                <li><a href="#">${MyName}</a></li>
<!--                <li>-->
<!--                    <a class="dropdown-button" href="#!" data-activates="dropdown1">-->
<!--                        <i class="material-icons left green-text">check</i> Dostępny-->
<!--                        <i class="material-icons right">arrow_drop_down</i>-->
<!--                    </a>-->
<!--                </li>-->
                <li><a href="#" click.delegate="SignOut()" tip="Common.Logout" data-position="left"><i class="material-icons right">power_settings_new</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                    <a href.bind="row.href" click.trigger="$parent.OnNavigate(row)">${row.title}</a>
                </li>
                <li><a href="#" click.delegate="SignOut()" t="Common.Logout"></a></li>
            </ul>
        </div>
    </nav>

    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!"><i class="material-icons left green-text">check</i>Dostępny</a></li>
        <li><a href="#!"><i class="material-icons left red-text">report_problem</i>Zajęty</a></li>
        <li class="divider"></li>
        <li><a href="#!"> <i class="material-icons left grey-text">not_interested</i>Niedostępny</a></li>
    </ul>
</template>
