﻿<template>
    <grid items.bind="ListItem" source.one-time="OnSearch" searchtrigger.bind="SearchTrigger">
        <template replace-part="grid-header">
            <th t="Common.FirstAndLastName"></th>
            <th t="Common.Actions"></th>
        </template>
        <template replace-part="grid-content">
            <td>${item.personName}</td>
            <td>
                <a class="btn btn-floating waves-effect waves-light red" data-position="left" tip="Usuń znajomego" click.delegate="$parent.$parent.RemoveAcquaintance(item)"><i class="material-icons">remove</i></a>
            </td>
        </template>
        <template replace-part="grid-noresult">
            <span t="Contacts.Groups.Current.NoResult"></span>
        </template>
    </grid>
</template>