﻿<template>
    <div class="row">
       <div class="col l10 offset-l1">
           <div class="row">
               <minput model.two-way=SearchModel.Login icon="person" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" len="15" label="Account.Login.Login"></minput>
               <minput model.two-way=SearchModel.Surname icon="person" gridclass="col l5 m10 offset-m1 s10 offset-s1" len="12"  label="Account.Registration.Surname"></minput>
           </div>
       </div>
       <div class="col l1">
           <a class="btn btn-floating btn-large waves-effect waves-light blue-grey margin-top-md" ref="sbtn" data-position="left" tip="Szukaj"><i class="material-icons">search</i></a>
       </div>
    </div>
    
    <grid items.bind="SearchResult" searchbutton.one-time="sbtn" source.one-time="OnSearch"> 
        <template replace-part="grid-header">
            <th t="Account.Registration.Name"></th>
            <th t="Account.Registration.Surname"></th>
            <th t="Account.Registration.Login"></th>
            <th t="Common.Actions"></th>
        </template>
        <template replace-part="grid-content">
            <td>${item.firstName}</td>
            <td>${item.lastName}</td>
            <td>${item.userName}</td>
            <td>
                <a class="btn btn-floating waves-effect waves-light blue lighten-2" click.delegate="$parent.$parent.Invite(item)" if.bind="!item.isInvited && !item.isFriend" data-position="left" tip="Contacts.Groups.FindNew.SendInvitation"><i class="material-icons">drafts</i></a>
                <a class="btn btn-floating waves-effect waves-light grey darken-2" click.delegate="$parent.$parent.AddToBlackList(item)" data-position="right" tip="Contacts.Groups.FindNew.AddToBlackList"><i class="material-icons">receipt</i></a>
            </td>
        </template>
        <template replace-part="grid-noresult">
            <span t="Contacts.Groups.FindNew.NoResult"></span>
        </template>
    </grid>
</template>