﻿<template>
    <grid items.bind="ListItem" source.one-time="OnSearch" searchtrigger.bind="SearchTrigger">
        <template replace-part="grid-header">
            <th t="Common.FirstAndLastName"></th>
            <th t="Common.Actions"></th>
        </template>
        <template replace-part="grid-content">
            <td>${item.senderName}</td>
            <td>
                <a class="btn btn-floating waves-effect waves-light green" data-position="left" tip="Zaakceptuj zaproszenie" click.delegate="$parent.$parent.Accept(item)"><i class="material-icons">done</i></a>
            </td>
        </template>
        <template replace-part="grid-noresult">
            <span t="Contacts.Groups.Received.NoResult"></span>
        </template>
    </grid>
</template> 