﻿<template>
    <grid items.bind="ListItem" source.one-time="OnSearch" searchtrigger.bind="SearchTrigger">
        <template replace-part="grid-header">
            <th t="Common.FirstAndLastName"></th>
            <th t="Common.Actions"></th>
        </template>
        <template replace-part="grid-content">
            <td>${item.receiverName}</td>
            <td>
                <a class="btn btn-floating waves-effect waves-light red" data-position="left" tip="Contacts.Groups.Sent.CancelInvitation" click.delegate="$parent.$parent.CancelInvitation(item)"><i class="material-icons">block</i></a>
            </td>
        </template>
        <template replace-part="grid-noresult">
            <span t="Contacts.Groups.Sent.NoResult"></span>
        </template>
    </grid>
</template>