﻿<template>
    <section class="au-animate">
        <div class="margin-sm"></div>
        <div class="row">
            <div class="col l12">
                <div class="row">
                    <div class="col s12">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li show.bind="ShowMessages" id="MessagesTab">
                                <div class="collapsible-header active green accent-5" id="ShowMessagesHeader">
                                    <i class="material-icons">comment</i><span t="Calendar.Messages.Messages"></span>
                                </div>
                                <div class="collapsible-body"><compose view-model="ViewModels/Home/Calendar/Partial/Messages"></compose>
                                </div>
                            </li>
                            <li show.bind="ShowTalks" id="TalksTab">
                                <div class="collapsible-header green accent-4" id="ShowTalksHeader" style="position: relative;">
                                    <i class="material-icons">comment</i><span t="Calendar.Talks.Talks"></span>
                                    <a id="startConversation" class="${(Contact.Active && (Contact.MicrophoneAvaibility || Contact.WebcamAvaibility)) ? '' : 'disabled'} btn-floating btn-small waves-effect waves-light orange accent-4" style="position: absolute; right: 15px; bottom: 3px;">
                                        <i class="material-icons" style="width: 100%; height: 100%; line-height: inherit;">videocam</i>
                                    </a>
                                </div>
                                <div class="collapsible-body"><compose view-model="ViewModels/Home/Calendar/Partial/Talks"></compose>
                                </div>
                            </li>
                            <li show.bind="ShowEvents" id="EventsTab">
                                <div class="collapsible-header green accent-3" id="ShowEventsHeader" style="position: relative;">
                                    <i class="material-icons">event</i><span if.bind="!IsGroup"><span t="Calendar.Events.MyEvents"></span></span><span if.bind="IsGroup" t="Calendar.GroupEvents"></span><b> ${GroupName}</b>
                                    <a id="addEventButton" class="btn-floating btn-small waves-effect waves-light orange accent-3" style="position: absolute; right: 15px; bottom: 3px;">
                                        <i class="material-icons" style="width: 100%; height: 100%; line-height: inherit;">add</i>
                                    </a>
                                </div>
                                <div class="collapsible-body"><compose view-model="ViewModels/Home/Calendar/Partial/Events"></compose>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <compose view-model="ViewModels/Home/Calendar/Partial/Create"></compose>
</template>