﻿<template>
    <div id="createEvent" class="modal">
        <div class="modal-content">
            <div class="row center flat-text-color">
                <h5 t="Calendar.Create.EditEvent"></h5>
            </div>
            <div class="divider"></div>
            <form role="form" validate.bind="EventValidators">
                <div class="row">
                    <minput model.two-way=Title icon="create" gridclass="col l5 offset-l1 m10 offset-m1 s10 offset-s1" len="35" label="Calendar.Create.Title"></minput>
                    <div class="input-field col l5  m10 offset-m1 s10 offset-s1">
                        <i class="material-icons prefix">today</i>
                        <input id="eventDate" class="datepicker" type="text" value.bind="DateIsValid">
                        <label for="eventDate" class="correct ${DateIsValid ? 'active': ''}" t="Calendar.Create.Date"></label>
                        <label for="eventDate" class="incorrect ${DateIsValid ? 'active': ''}"></label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <textarea id="description" class="materialize-textarea" length="120" value.bind=Description></textarea>
                        <label for="description" class="${Description ? 'active': ''}" t="Calendar.Create.Description"></label>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
        </div>
        <div class="modal-footer">
            <a class="btn modal-action modal-close waves-effect waves-green btn-flat" t="Common.Cancel"></a>
            <a class="btn waves-effect waves-green btn-flat" click.delegate="Save()" t="Common.Save"></a>
        </div>
    </div>
</template>