﻿<template>
    <div class="white pagination padding-md">
        <div class="row">
            <div class="col l2">
                <ul class="right">
                    <li class="pointer" tip="Calendar.Events.PreviousMonth" data-position="right"><a click.delegate="PreviousMonth()"><i class="material-icons">chevron_left</i></a></li>
                </ul>
            </div>
            <div class="col l8 center-align">
                <ul>
                    <li>${MonthName} ${CurrentYear}</li>
                </ul>
            </div>
            <div class="col l2">
                <ul>
                    <li class="pointer" tip="Calendar.Events.NextMonth" data-position="left"><a click.delegate="NextMonth()"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col l3 m4 s12 flat-text-color" repeat.for="event of events" if.bind="events && events.length > 0">
                <div class="card" style="min-height: 280px;">
                    <div class="card-image waves-effect waves-block waves-light center-align blue-grey-text">
                        <i class="material-icons" style="font-size: 72px;">event_note</i>
                    </div>
                    <div class="card-content no-padding-bottom">
                        <span class="card-title activator grey-text text-darken-4">${event.Title}<i class="material-icons right">more_vert</i></span>
                        <p class="center-align cyan lighten-4" style="padding: 0;"> ${event.Date | dateFormat} </p>
                        <div class="divider"></div>
                        <div>
                            <a class="btn btn-flat" click.delegate="EditEvent(event)"><i class="material-icons" >create</i></a>
                            <a class="btn btn-flat right" click.delegate="RemoveEvent(event)"><i class="material-icons">remove_circle</i></a>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">${event.Title}<i class="material-icons right">close</i></span>
                        <p style="word-wrap: break-word; -ms-word-wrap:break-word;">${event.Description}</p>
                    </div>
                </div>
            </div>
            <div if.bind="!events || events.length == 0" class="center-align margin-md padding-md amber accent-1 grid-information" t="Calendar.Events.NoEvents"> </div>
        </div>
    </div>
</template>