﻿<template>
    <div class="row no-margin-bottom">
        <div class="col l12 white" style="max-height: 450px; overflow-y: auto;">
            <ul class="collection">
                <li class="collection-item avatar" repeat.for="message of Messages">
                    <span class="circle ${message.From ? 'green' : 'blue'} darken-1 collection-character" style="color: #f5f2e3;">${message.SenderName.substring(0, 1)}</span>
                    <span class="title">${message.SenderName}</span>
                    <p class="truncate grey-text ultra-small">${message.content}</p>
                    <span class="secondary-content">${message.creationTime}</span>
                </li>
            </ul>
            <div if.bind="!Messages || Messages.length == 0" class="white center-align margin-md padding-md amber accent-1 grid-information" t="Calendar.Messages.NoMessages">
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row no-margin-bottom white">
        <div class="col l10 offset-l1 ">
            <div class="input-field">
                <input id="messageContent" keypress.trigger="OnEnter($event)" value.two-way="messageContent" type="text" class="validate">
                <label for="messageContent" t="Calendar.Messages.Message"></label>
            </div>
        </div>
    </div>
</template>