﻿<template>
    <div class="row no-margin-bottom">
        <div if.bind="talk == null" class="col l12 white" style="max-height: 450px; overflow-y: auto;">
            <table class="striped">
                <tr>
                    <th data-field="caller" t="Calendar.Talks.Caller"></th>
                    <th data-field="callee" t="Calendar.Talks.Callee"></th>
                    <th data-field="startDate" t="Calendar.Talks.StartDate"></th>
                    <th data-field="endDate" t="Calendar.Talks.EndDate"></th>
                </tr>
                <tbody>
                <tr repeat.for="conv of Conversations">
                    <td>${conv.callerName}</td>
                    <td>${conv.calleeName}</td>
                    <td>${conv.startDate}</td>
                    <td>${conv.endDate}</td>
                </tr>
                </tbody>
            </table>

            <div if.bind="!Conversations || Conversations.length == 0" class="center-align margin-md padding-md amber accent-1 grid-information" t="Calendar.Talks.NoTalks"> </div>
        </div>
        <div if.bind="talk != null" class="col l12 white">
            <div class="row">
                <div class="card-panel teal lighten-3">
                    <span class="black-text text-darken-2" t="Calendar.Talks.Talk.LinkInformation"></span><span style="font-weight: bold">${link}</span>
                </div>
            </div>

            <div class="row center-align" style="margin: 10px 0 10px 0;">
                <a class="btn-floating btn-large waves-effect waves-light red" click.delegate="StopTalk()"><i class="material-icons">stop</i></a>
            </div>
            <div repeat.for="interlocutor of talk.interlocutors" class="${talk.Class} row center-align" if.bind="interlocutor.Status !== 'Rejected' && interlocutor.Status !== 'Stopped'">
                <div class="row center flat-text-color">
                    <h6 t="${interlocutor.User.Name}" style="font-weight: bold;"></h6>
                </div>
                <video if.bind="interlocutor.Video !== null" class="responsive-video" src="${interlocutor.VideoURL}" controls autoplay/>
            </div>
        </div>
    </div>
</template>