<template>
    <nav-bar router.bind="router"></nav-bar>
    <div class="page-wrap">
        <div class="row">
            <div class="col l3">
                <compose view-model="ViewModels/Home/ContactsPanel"></compose> 
            </div> 
            <div class="col l9">
                <router-view></router-view>
            </div>
        </div>
    </div>
    <footer class="page-footer blue-grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Linki</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#regulations" t="Nav.Regulations"></a></li>
                        <li><a class="grey-text text-lighten-3" href="#help" t="Nav.Help"></a></li>
                        <li><a class="grey-text text-lighten-3" href="#authors" t="Nav.Authors"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Powered by DreamTeam 2015
                <a class="grey-text text-lighten-4 right" href="http://materializecss.com/">materializecss</a>
            </div>
        </div>
    </footer>

</template>
