<template>
   <compose view-model="ViewModels/Account/Popups/EditData"></compose> 
   <div class="row">
       <div class="${ShowSupport ?'col l4 m5 s12' : 'hide'}">
           <div class="card-panel">
               <i class="material-icons right pointer style="margin-top: -17px; margin-right: -15px;" click.delegate="CloseSupport()">close</i>
               <div class="row">
                   <div class="col l12">
                       <strong class="medium-font">${SupportText}</strong>
                       <div class="progress">
                           <div class="determinate" style.bind="SupportPercentage"></div>
                       </div>
                   </div>
               </div>
              <div class="row">
                  <div class="col l12 m12 s12">
                      <table class="bordered centered striped">
                          <thead>
                              <tr>
                                  <th t="Home.Panel.Name"></th>
                                  <th t="Home.Panel.Support"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr repeat.for="item of SupportItems">
                                  <td>${item.Name}</td>
                                  <td><i class="material-icons ${item.HasSupport ? 'light-green-text': 'red-text'}">${item.HasSupport ? 'done': 'close'}</i></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
           </div>
       </div>
       <div class="col center-align ${ShowSupport ? 'l8 m7 s12': 'l12 m12 s12'}">
           <div class="card-panel">
               <div class="row flat-text-color margin-bottom-sm" >
                   <h5>${MyName}<a class="btn btn-floating tooltipped right margin-right-md modal-trigger" data-target="editUserData" data-position="bottom" tip="Home.EditUser.EditTip"><i class="material-icons">create</i></a></h5>
               </div>
               <div class="divider margin-bottom-sm"></div>
               <div class="row margin-bottom-sm">
                   <div class=" ${ShowSupport ? 'hide': 'col l5 m6 s12'}">
                       <button class="btn btn-flat waves-effect margin-top-54-on-med-and-up" click.delegate="OpenSupport()" t="Home.Panel.CheckBrowser"></button>
                   </div>
                   <div class="divider hide-on-med-and-up"></div>
                   <div class="col ${ShowSupport ? 'l12 m12 s12' :'l7 m6 s12 left-divider-on-md-and-up'} ">
                       <div class="row">
                           <form validate.bind="Validator">
                               <div class="col l8 offset-l2 m12 s12">
                                   <minput model.two-way=Email icon="contact_mail" label="Account.Registration.Email"></minput>
                               </div>
                           </form>          
                       </div>
                       <div class="row">
                           <div class="col l4 offset-l4 m6 offset-m3 s8 offset-s2">
                               <button class="btn btn-flat waves-effect margin-top-sm" click.delegate="InviteFriend()" t="Home.Panel.InviteFriend"></button>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="divider"></div>
           </div>
       </div>
   </div>
</template>
